@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* || RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--NUNITO);
  font-weight: 500;

}

img {
  display: block;
}

/* || VARIABLES */

:root{
    --NUNITO: "Nunito", sans-serif;
}

/* || GENERAL */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aliceblue;
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 50vh;
  max-height: 500px;
  border-radius: 24px;
  box-shadow: 0 0 5px 1px #333;
  background-color: aliceblue;
  position: relative;
}

.card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 22%;
  background-color: black;
  border-radius: 24px 24px 0 0;
}

.card__img {
  display: flex;
  justify-content: center;
}
.card__img img {
  position: relative;
  width: 33%;
  height: auto;
  border: 4px solid #000000;
  border-radius: 50%;
}


.card__header{
    font-weight: 800;
}

.card__p{
  margin-bottom: 1rem;
}

.card__social{
  margin-top: 1rem;
  margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card__social a{
  text-decoration: none;
}
.card__social a i{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__social-icon{
  height: 1.8rem;
  width: 1.8rem;
    font-size: 1.2rem;
    margin: 0rem .5rem;
    color: aliceblue;
    border-radius: 50%;
    background-color: #333;
    box-shadow: 0 0 4px 2px rgb(57, 147, 216);

}

.card__social-icon:hover{
  box-shadow: 0 0 4px 2px red;

}

.card__buttons{
  margin-bottom:1.5rem ;
}
.card__button{
  border: none;
  background-color: #3F72EC;
  padding: .3rem 1rem;
  color: aliceblue;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: .5rem;
  margin: 0 7px;
  cursor: pointer;
}

.card__button:hover{
  background-color: #1f3978;
}

.card__likecomment{
  padding: 0rem 1rem;
  color: #333;
  border-right: 2px solid #333;
}
.card__likecomment:last-child{
  border: none;
}
